In [1]:
import pandas as pd
y = pd.Period('2023')
y

Period('2023', 'A-DEC')

In [2]:
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.end_time

Timestamp('2023-12-31 23:59:59.999999999')

In [5]:
m = pd.Period("2023-01", freq='M')
m

Period('2023-01', 'M')

In [7]:
m.end_time

Timestamp('2023-01-31 23:59:59.999999999')

In [8]:
m+1

Period('2023-02', 'M')

In [9]:
m

Period('2023-01', 'M')

In [10]:
d = pd.Period("2023-01-25")

In [11]:
d

Period('2023-01-25', 'D')

In [13]:
d.start_time

Timestamp('2023-01-25 00:00:00')

In [14]:
d.end_time

Timestamp('2023-01-25 23:59:59.999999999')

In [15]:
q=pd.Period("2023q1")

In [16]:
q

Period('2023Q1', 'Q-DEC')

In [17]:
q+1

Period('2023Q2', 'Q-DEC')

In [18]:
q2=pd.Period("2022q2")
q2

Period('2022Q2', 'Q-DEC')

In [19]:
q2-q

<-3 * QuarterEnds: startingMonth=12>

In [20]:
q-q2

In [24]:
idx =pd.period_range("2011","2019", freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1',
             '2019Q2', '2019Q3', '2019Q4'],
            dtype='period[Q-JAN]')

In [25]:
idx =pd.period_range("2011","2019", freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2',
             '2018Q3', '2018Q4', '2019Q1'],
            dtype='period[Q-DEC]')

In [28]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [29]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [30]:
idx =pd.period_range("2011",periods=10, freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [32]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -0.519472
2012Q1    0.813271
2012Q2    0.340745
2012Q3    1.250951
2012Q4   -0.504988
2013Q1   -0.764972
2013Q2   -0.217334
2013Q3    0.076603
2013Q4    0.651619
2014Q1   -0.818930
Freq: Q-JAN, dtype: float64

In [33]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [36]:
ps["2011":"2012"]

2011Q4   -0.519472
2012Q1    0.813271
2012Q2    0.340745
2012Q3    1.250951
2012Q4   -0.504988
2013Q1   -0.764972
2013Q2   -0.217334
2013Q3    0.076603
2013Q4    0.651619
Freq: Q-JAN, dtype: float64

In [37]:
pst = ps.to_timestamp()

In [38]:
pst

2010-11-01   -0.519472
2011-02-01    0.813271
2011-05-01    0.340745
2011-08-01    1.250951
2011-11-01   -0.504988
2012-02-01   -0.764972
2012-05-01   -0.217334
2012-08-01    0.076603
2012-11-01    0.651619
2013-02-01   -0.818930
Freq: QS-NOV, dtype: float64

In [39]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [47]:
pst.to_period()

TypeError: unsupported Type PeriodIndex

In [48]:
pst.index

PeriodIndex(['2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1',
             '2012Q2', '2012Q3', '2012Q4', '2013Q1'],
            dtype='period[Q-DEC]')

In [49]:
df= pd.read_csv("E:\\GitHub Projects\\py-master\\pandas\\18_ts_period\\wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [55]:
df.set_index("Line Item", inplace= True)
df

KeyError: "None of ['Line Item'] are in the columns"

In [56]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [57]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [58]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [60]:
df.index= pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [61]:
df['Start date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [64]:
df['End date'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start date                      End date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999